<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--
<div>
  <br/>
  <input type="text" name="name" (input)="changeNameHandler($event)" [value]="name">

  <br/>
  {{name}}
  <button [disabled]="active" (click)="submit()">Submit</button> -->
  <!--[] bind to a property where as () bind to an event-->

  <!--
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>

</div>
-->

<!-- Blog -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div>
	<h1 style="text-align: center;">The Super Blog</h1>
  <div class="container">
    <div class="row">
      <div class="col-2">
        Site Navigation
      </div>
      <div class="col-8">
        <app-post style="margin: 2rem;"></app-post>
        <app-post style="margin: 2rem;"></app-post>
        <app-post style="margin: 2rem;"></app-post>
        <app-post style="margin: 2rem;"></app-post>
      </div>
      <div class="col-2">
        Space for Adds or something
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

